@import '../../styles/variables.css';

.title{
  box-sizing: border-box;
  position: absolute;

  background: rgba(128, 0, 128, 0.6);
  color: var(--white-color);
  top: 12%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.divider {
    border: 1px solid rgba(156, 40, 227, 0.47);
}  

.cgu{
  color: var(--purple-color);
  text-decoration: underline;
}